@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color-yellow: #FFA31A;
    --color-gray: #808080;
    --color-gray2: #282828;
    --color-gray3: #080808;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black2: #111;
}

.max-width{
    max-width: 1980px;
    padding: 0 80px;
    margin: auto;
}

/*nav section*/

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    /*background: rgba(22, 22, 22, 0.5);*/
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 30px 0;
    background: var(--color-gray3);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: var(--color-white);
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: var(--color-black);
    font-size: 35px;
    font-weight: 600;
}

.Plogo{
    color: var(--color-yellow);
    background-color: var(--color-yellow);
    border: 2px var(--color-yellow);
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: var(--color-gray);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    position: relative;
}

.navbar .menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px; 
    background-color: var(--color-yellow); 
    transition: width 0.3s; 
}

.navbar .menu li a:hover::after {
    width: 100%;
}

.navbar .menu li a:hover{
    color: var(--color-white);
}

.menu-btn{
    color: var(--color-white);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*home section*/

.home{
    display: flex;
    background: url(Assets/websitebg.png) no-repeat center;
    height: 100vh;
    color: var(--color-white);
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: var(--color-yellow);
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: none;
    color: var(--color-yellow);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--color-yellow);
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: var(--color-black);
    background: var(--color-yellow);
}

/* same style */

section{
    padding: 100px 0;
    background: var(--color-black2);
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: var(--color-white);
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #FFA31A;
    padding: 5px;
    background: var(--color-black2);
    transform: translateX(-50%);
}

/*about section*/

.about, .services{
    font-family: 'Poppins',sans-serif;
    color: var(--color-white);
}

.about .title::after{
    content: "Who Am I";
}

.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about-content .left{
    flex-basis: 35%;
}

.about .about-content .left img{
    width: 100%;
    border-radius: 15px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: var(--color-yellow);
}

.about .about-content .right p{
    text-align: justify;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-titles p{
    color: var(--color-gray);
}

.tab-titles p:hover{
    color: var(--color-white);
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--color-yellow);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link {
    color: var(--color-white);
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.tab-contents ul li:hover{
    color: var(--color-white);
    cursor: pointer;
}

.tab-contents ul li span{
    color: var(--color-yellow);
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.skillbar{
    margin-top: 50px;
}

.skillbar h2{
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skillbar p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-yellow);
}

.skillbar .bars{
    margin-bottom: 15px;
}

.skillbar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skillbar span{
    font-weight: 500;
    font-size: 18px;
}

.skillbar .line{
    height: 5px;
    width: 100%;
    position: relative;
}

.skillbar .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--color-yellow);
}

.skillbar .html::before{
    width: 40%;
}

.skillbar .css::before{
    width: 40%;
}

.skillbar .js::before{
    width: 20%;
}

.skillbar .vid::before{
    width: 20%;
}

.skillbar .pic::before{
    width: 20%;
}

.skillbar .ppt::before{
    width: 40%;
}

.skillbar .pubmat::before{
    width: 20%;
}

/* services section */

.services{
    color: var(--color-white);
    background-color: var(--color-black);
}

.services .title::before{
    background: var(--color-white);
}

.services .title::after{
    content: "What I Do";
    color: #FFA31A;
    background: var(--color-black);
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    border: 1px solid var(--color-yellow);
    background: var(--color-gray3);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s, transform 0.5s;
}

.services-list div i{
    color: var(--color-yellow);
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    color: var(--color-white);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div p{
    font-weight: 400;
    color: var(--color-white);
}

.services-list div a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: var(--color-yellow);
    transform: translateY(-10px);
}

.services-list div:hover i,
.services-list div:hover h2,
.services-list div:hover a,
.services-list div:hover p
{
    color: var(--color-black);
}

.services-list div:hover p{
    font-weight: 800;
}

.services-list div:hover a{
    font-weight: 800;
}

/* products Section */
.portfolio{
    color: var(--color-white);
    background-color: var(--color-black);
}

.portfolio .title::before{
    background: var(--color-white);
}

.portfolio .title::after{
    content: "What I Made";
    color: #FFA31A;
    background: var(--color-black);
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.work:hover img{
    transform: scale(1.5);
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), var(--color-yellow));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: var(--color-yellow);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--color-white);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover .layer{
    height: 100%;
}

.portfolio .button{
    font-family: 'Ubuntu',sans-serif;
    font-weight: 600;
    background: var(--color-black);
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--color-yellow);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--color-yellow);
    transition: 0.5s;
}

.portfolio .button:hover{
    color: var(--color-black);
    background: var(--color-yellow);
}

/* contact section */
.row{
    font-family: 'Ubuntu',sans-serif;
    display: flex;
}

.contact{
    color: var(--color-white);
    background-color: var(--color-black2);
}

.contact .title::before{
    background: var(--color-yellow);
}

.contact-left{
    flex-basis: 35%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: var(--color-yellow);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--color-gray);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: var(--color-yellow);
    transform: translateY(-5px);
}

.btn2{
    font-family: 'Ubuntu',sans-serif;
    font-weight: 600;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--color-yellow);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--color-yellow);
    transition: 0.5s;
    color: var(--color-black);
    display: inline-block;
    background: var(--color-yellow);
}

.btn:hover{
    color: var(--color-yellow);
    display: inline-block;
    background: var(--color-black2);
    border: 2px solid var(--color-yellow);
}

.contact-right{
    flex-basis: 60%;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    font-family:'Poppins',sans-serif;
    width: 100%;
    border: 0;
    outline: none;
    background: var(--color-gray2);
    padding: 15px;
    margin: 15px 0;
    color: var(--color-white);
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

form .btn2:hover{
    color: var(--color-yellow);
    display: inline-block;
    background: var(--color-black2);
    border: 2px solid var(--color-yellow);
}

.copyright{
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    color: var(--color-yellow);
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--color-black);
}

/* responsive design */
@media(max-width: 480px) {
    .max-width{
        padding: 0 20px;
    }

    .navbar .menu{
        width: 100%;
    }

    .navbar .menu li a{
        font-size: 18px;
        margin: 15px 0;
    }

    .home .home-content .text-2{
        font-size: 40px;
    }

    .home .home-content .text-3{
        font-size: 20px;
    }

    .home .home-content a{
        font-size: 18px;
        padding: 8px 16px; 
    }

}

@media(max-width: 768px) {
    .home .home-content .text-2{
        font-size: 50px;
    }

    .home .home-content .text-3{
        font-size: 25px; 
    }

    .home .home-content a{
        font-size: 20px; 
        padding: 8px 20px; 
    }
}

@media(max-width: 1080px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu.active{
        right: 0;
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 30%;
        right: -100%;
        top: 0;
        background: var(--color-gray3);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    } 

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        color: var(--color-white);
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .navbar .menu li a:hover{
        color: var(--color-yellow);
    }
    
    .navbar .menu li a:hover::after {
        width: 0%;
    }

    .home {
        background: url(Assets/mobilebg.png) no-repeat;
        background-size: cover;
    }

    .home .home-content .text-2{
        font-size: 70px;
    }

    .home .home-content .text-3{
        font-size: 35px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 800px;
    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .left{
        flex-basis: 100%;
    }

    .about .about-content .right{
        flex-basis: 100%;
    }

    .row{
        flex-direction: column;
    }

    .contact-left{
        order: 1;
    }

    .contact-right{
        order: 2;
    }
}

#msg{
    font-family: 'Ubuntu',sans-serif;
    color: var(--color-yellow);
    margin-top: -40px;
    display: block;
}

.scrollup{
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--color-yellow);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: var(--color-white);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scrollup.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}